<section class="signup" [formGroup]="signupForm">
  <div class="container">
    <div class="auth-form">
      <div class="auth-title">Регистрация на сайте</div>
      <div class="auth-inputs">

        <div class="auth-input">
          <input type="text" class="input" placeholder="Ваше имя" [ngStyle]="{'border-color': name?.invalid
           && (name?.dirty || name?.touched) ? 'red' : ''}" formControlName="name">
          <div class="input-validation-text" *ngIf="name?.invalid && (name?.dirty || name?.touched)">
            <div class="text-danger invalid-feedback" *ngIf="name?.errors?.['required']">Пожалуйста, укажите Ваше имя.</div>
            <div class="text-danger invalid-feedback" *ngIf="name?.errors?.['pattern']">Данные поля могут содержать содержать русские буквы и пробелы
              (Каждое новое слово - с большой буквы).</div>
          </div>
        </div>
        <div class="auth-input">
          <input type="text" class="input" placeholder="Электронная почта" [ngStyle]="{'border-color': email?.invalid
           && (email?.dirty || email?.touched) ? 'red' : ''}"
                 formControlName="email">
          <div class="input-validation-text" *ngIf="email?.invalid && (email?.dirty || email?.touched)">
            <div class="text-danger invalid-feedback" *ngIf="email?.errors?.['required']">Пожалуйста, заполните поле email.</div>
            <div class="text-danger invalid-feedback" *ngIf="email?.errors?.['email']">Данные поля email некорректны.</div>
          </div>
        </div>
        <div class="auth-input">
          <input type="password" class="input" placeholder="Пароль"
                 [ngStyle]="{'border-color': password?.invalid
           && (password?.dirty || password?.touched) ? 'red' : ''}"
                 formControlName="password">
          <div class="input-validation-text" *ngIf="password?.invalid && (password?.dirty || password?.touched)">
            <div class="text-danger invalid-feedback" *ngIf="password?.errors?.['required']">Пожалуйста, заполните поле пароль.</div>
            <div class="text-danger invalid-feedback" *ngIf="password?.errors?.['pattern']">Пароль должен быть не менее 8 символов, содержать как минимум 1 букву
              в верхнем регистре и как минимум 1 цифру</div>
          </div>
        </div>
        <div class="auth-checkbox">
          <input type="checkbox" id="agree" formControlName="agree">
          <label for="agree">Я принимаю <a href="#">условия пользовательского соглашения</a>
            и даю <a href="#">согласие на обработку персональных данных.</a></label>
        </div>
      </div>

      <div class="auth-button">
        <button class="button" [disabled]="signupForm.invalid" (click)="signup()">Зарегистрироваться</button>
      </div>

      <div class="auth-link">
        Уже есть аккаунт?<a routerLink="/login">Войдите</a>
      </div>
    </div>

    <div class="page-image">
      <img src="/assets/images/page/signup.png" alt="">
    </div>
  </div>
</section>
